body {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    font: 1em Lucida Bright;

}

body {
    background-image: linear-gradient(to bottom,
            rgba(88, 88, 83, 0.5),
            rgba(19, 19, 25, 0.729)), url(Fondos/VistaPati.jpg);
}

.parrafp1 {
    font-size: 1.5rem;
}

#centrado {
    text-align: center;
}

.Container {
    color: rgb(255, 255, 255);
}

.Carrusel {
    color: rgb(0, 0, 0);
}

.info {
    margin-top: 2%;
}

.miss {
    color: black;
    margin-top: 2%;
    margin-bottom: 3%;
}

.barril {
    margin-top: 10%;
}

.info_abajo {
    margin-top: 2%;
}
.pie{
    margin-top: 10%;
}