
.info{
    margin-top: 25%;
    color: rgb(255, 255, 255);
}
.botonr{
    margin-top: 1%;
    margin-left: 1%;
}
body{
    background-image: linear-gradient(to bottom,
    rgba(88, 88, 83, 0.5),
    rgba(19, 19, 25, 0.281)), url(Fondos/fondo\ navideño.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
